/* Estilos Comunes */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1d1d1d, #333); /* Degradado oscuro */
  margin: 0;
  padding: 0;
  color: white;
}

header {
  background-color: #222; /* Gris oscuro */
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  color: #f7f700; /* Amarillo */
  font-size: 3em;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #444; /* Gris medio */
  padding: 10px 0;
}

nav .nav-link {
  margin: 0 15px;
  color: #ccc; /* Gris claro */
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav .nav-link:hover {
  color: #00aaff; /* Azul */
}

footer {
  text-align: center;
  padding: 20px;
}

.edit-button {
  background-color: #333;
  color: #f7f700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button img {
  width: 20px;
  margin-right: 10px;
}

.edit-button:hover {
  background-color: #444;
}

/* Estilos Página de Registro */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  color: white;
}

.input-group button {
  width: 100%;
  padding: 10px;
  background-color: #f7f700; /* Amarillo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #222;
  font-size: 1.2em;
}

.input-group button:hover {
  background-color: #00aaff; /* Azul */
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #f7f700; /* Amarillo */
  text-decoration: none;
}

.login-link a:hover {
  color: #00aaff; /* Azul */
}

/* Botón Regresar */
.back-button {
  background-color: #333;
  color: #f7f700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button:hover {
  background-color: #444;
}
