<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <button onclick="window.location.href='/'" class="back-button">← Regresar</button>
        <h1>Registro de Usuario</h1>
    </header>

    <div class="form-container">
        <form action="#">
            <div class="input-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>

</body>
</html>
